<section class="container" ng-show="!showLoading" data-ng-init="onInit()">
    <div class="container">
        <div class='common-heading-style'>
            <h3>Advertisements</h3>
        </div>
        <div class="col-lg-12" data-toggle="tooltip" data-placement="top" title="Click on Eye To Expand">
            <div class="panel panel-default">
                <div class="panel-body table-responsive">
                    <div ng-show="!advertisements.length">
                        <p style="font-weight:bold;text-align:center;background-color:#ffb600">No Advertisement Posted Yet</p>
                    </div>
                    <table class="display dataTable" style="width: 100%;" ng-show="advertisements.length">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product</th>
                                <th>Description</th>
                                <th>Vendor</th>
                                <th>Unit Price</th>
                                <th>Order Limit</th>
                                <th>Delivery</th>
                                <th>Status</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="advertisement in advertisements">
                            <tr role="row" class="odd">
                                <td>{{advertisement.Advt_Id}}</td>
                                <td class="sorting_1">{{advertisement.Prod_Type}}</td>
                                <td style="max-width: 200px;">{{advertisement.Advt_Dscp}}</td>
                                <td>{{advertisement.VNDR_Name}}</td>
                                <td>{{advertisement.Unit_Price}}</td>
                                <td>{{advertisement.Order_Limit}}</td>
                                <td>{{advertisement.DLVRY_AVLB}}</td>
                                <td>{{advertisement.STUS_NME}}</td>
                                <td>
                                    <button class="btn-primary btn-xs" ng-show="!advertisement.IsActive" style="padding-top:5px;padding-bottom:1px;width:90px" ng-click="unblock(advertisement.Advt_Id)">Unblock</button>
                                    <button class="btn-danger btn-xs" ng-show="advertisement.IsActive" style="padding-top:5px;padding-bottom:1px;width:90px" ng-click="block(advertisement.Advt_Id)">Block</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="plunker-loading" ng-show="showLoading">
    <h3><i class="fa fa-spinner fa-pulse fa-fw"></i> Site is loading…</h3>
    <h4>Please wait for few seconds ... </h4>
</div>