@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Tameer Karo : Online Purhase and Cost Estimation </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="body-inner" ng-controller="RootController">
        <div data-ng-init="onInit()" ui-view ng-show="!showLoading"></div>

        <div class="plunker-loading" ng-show="showLoading">
            <h3><i class="fa fa-spinner fa-pulse fa-fw"></i> Site is loading…</h3>
            <h4>Please wait for few seconds ... </h4>
        </div>

        <footer ng-show="!showLoading" id="footer" class="footer bg-overlay">
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 footer-widget footer-about">
                            <h3 class="widget-title">About Us</h3>
                            <img class="footer-logo" height="50" src="images/logoInWHite.png" alt="" />
                            <p>TameerKaro provides material & cost estimation services and online shopping of construction material.</p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 footer-widget">
                            <h3 class="widget-title">Working Hours</h3>
                            <div class="working-hours">
                                We work 7 days a week, you can contact any building material provider in the mentioned working hours.
                                <br><br> Monday - Friday: <span class="text-right">10:00 - 16:00 </span>
                                <br> Saturday: <span class="text-right">12:00 - 15:00</span>
                                <br> Sunday and holidays: <span class="text-right">09:00 - 12:00</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 footer-widget">
                            <h3 class="widget-title">Services</h3>
                            <ul class="list-arrow">
                                <li> Material Estimation </li>
                                <li> Cost Estimation </li>
                                <li> Online Sale/Purchase Of Building Material </li>
                                <li> Promote Small Business </li>
                                <li> Construction Planning </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="copyright-info">
                                <span>Copyright © 2020 Tameer Karo by Comsats Developer Team </a></span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="footer-menu">

                            </div>
                        </div>
                    </div>

                    <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
                        <button class="btn btn-primary" title="Back to Top">
                            <i class="fa fa-angle-double-up"></i>
                        </button>
                    </div>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/default")
        @Scripts.Render("~/bundles/common")
    </div>
</body>

</html>

