<section class="container" ng-show="!showLoading" data-ng-init="onInit()">
    <div class="container">
        <div class='common-heading-style'>
            <h3>Customers</h3>
        </div>
        <div class="col-lg-12" data-toggle="tooltip" data-placement="top" title="Click on Eye To Expand">
            <div class="panel panel-default">
                <div class="panel-body table-responsive">
                    <div ng-show="!customers.length">
                        <p style="font-weight:bold;text-align:center;background-color:#ffb600">No Customers Registered Yet</p>
                    </div>
                    <table class="display dataTable" style="width: 100%;" ng-show="customers.length">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Username</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="customer in customers">
                            <tr role="row" class="odd">
                                <td>{{customer.ID}}</td>
                                <td class="sorting_1">{{customer.FRST_NME}} {{customer.LAST_NME}}</td>
                                <td>{{customer.EMAIL}}</td>
                                <td>{{customer.PHNE}}</td>
                                <td>{{customer.USR_NME}}</td>
                                <td>{{customer.Address}}</td>
                                <td>{{customer.CITY}}</td>
                                <td>
                                    <button class="btn-primary btn-xs" ng-show="!customer.IsActive" style="padding-top:5px;padding-bottom:1px;width:90px" ng-click="unblock(customer.ID)">Unblock</button>
                                    <button class="btn-danger btn-xs" ng-show="customer.IsActive" style="padding-top:5px;padding-bottom:1px;width:90px" ng-click="block(customer.ID)">Block</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="plunker-loading" ng-show="showLoading">
    <h3><i class="fa fa-spinner fa-pulse fa-fw"></i> Site is loading…</h3>
    <h4>Please wait for few seconds ... </h4>
</div>