<div class="container" ng-show="!showLoading" data-ng-init="onInit()">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-2" style="margin-top:35px;padding:6px;padding-left: 30px;">
                <div class="row">
                    <h6 style="font-weight:bold">Search Products by</h6>
                </div>
                <div class="row" style="margin-top:5px;">
                    <h6>Type, Vendor or Location</h6>
                </div>
            </div>
            <div class="form-group col-md-7" style="margin-top:35px;padding:0;padding-left:20px">
                <input id="exampleFormControlInput5" type="text" ng-model='searchText' ng-init="prod='Prod_Type'" placeholder="What're you searching for?" class="form-control form-control-underlined">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3 col-sm-6" ng-repeat="item in products | filter:search" style="margin-top:60px">
            <div class="product-grid4">
                <div class="product-image4">
                    <a>
                        <img class="pic-1" src="{{item.IMG_PATH}}" style="height:260px;width:260px;">
                        <img class="pic-2" src="{{item.IMG_PATH}}" style="height:260px;width:260px;">
                    </a>
                    <ul class="social">
                        <li><a ui-sref="customer.product({ advtId: {{item.Advt_Id}} })" data-tip="View"><i class="fa fa-eye"></i></a></li>
                        <li><a ng-click="ngCart.addItem(item)" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a ui-sref="customer.product({ advtId: {{item.Advt_Id}} })">{{item.Prod_Type}}</a></h3>
                    <div class="price">
                        Rs.{{item.Unit_Price}} per {{item.Unit}}
                    </div>
                    <div class="price">
                        <input type="number" ng-model="item.Quantity" ng-init="item.Quantity = null" class="form-control" ng-min="1" placeholder="Enter Quantity">
                    </div>
                    <a class="add-to-cart" ng-click="ngCart.addItem(item)">ADD TO CART</a>
                    <h3 class="title"><a>By: {{item.VNDR_Name}}({{item.VNDR_ID}})</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:60px">
        <div class="alert alert-danger" role="alert" ng-show="(products | filter:searchText).length == 0" style="text-align:center">
            <strong>No matching result Found!</strong>
        </div>
    </div>
</div>

<div class="plunker-loading" ng-show="showLoading">
    <h3><i class="fa fa-spinner fa-pulse fa-fw"></i> Site is loading…</h3>
    <h4>Please wait for few seconds ... </h4>
</div>