

<!--<section id="main-container" class="main-container">
    <div class="row main-container">
        <div class="container" style="padding-top:35px">
            <div class="form-group col-md-5" style="padding:0;padding-left:20px">
                <input id="exampleFormControlInput5" type="text" ng-model='searchText[prod]' ng-init="prod='Prod_Type'" placeholder="What're you searching for?" class="form-control form-control-underlined">
            </div>
            <div class="form-group col-md-7">
                <div style="float:left">
                    <h2>Your Cart:</h2>
                    <ul>
                        <li class="animate-repeat" ng-repeat="item in ngCart.getItems() | orderBy:'category'">
                            <span>{{ item.Quantity + ' x ' + item.Prod_Type + ' = ' + ngCart.getCost(item)  }}</span>
                            <button class="btn-danger btn-xs" ng-click="ngCart.removeItemById(item.Advt_Id);">Remove Item</button>
                            </br>
                            </br>
                        </li>
                    </ul>
                    <h3>Total: {{ ngCart.totalCost() | currency }}</h3>
                </div>
                <div style="float:right">
                    <a role="button" class="btn btn-primary" ng-click="ngCart.ClearCart();"> Clear Cart </a>
                    <a role="button" class="btn btn-primary" ui-sref="customer.cart" ui-sref-active="active"> Go to Cart </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="isotope" class="isotope">
            <div class="col-md-4 col-sm-6 col-xs-12 commercial isotope-item" ng-repeat="item in products | filter:searchText " ng-hide="vm.isLoadingCategories" style="padding:5px;margin-bottom:10px;height:300px">
                <div class="isotope-img-container">
                    <a class="gallery-popup">
                        <img class="img-responsive" src={{item.IMG_PATH}} alt="" style="width:370px;height:300px;">
                    </a>

                    <div class="project-item-info">
                        <div class="project-item-info-content">
                            <h3 class="project-item-title">
                                <a href="#">{{item.Prod_Type}}</a>
                            </h3>
                            <p class="project-cat">Unit Price = {{item.Unit_Price}} Rs.</p>
                            <p class="project-cat">Vendor ID = {{item.VNDR_ID}}</p>
                            <input type="number" ng-model="item.Quantity" class="quantity" ng-min="1">
                            <button class="btn-primary" style="margin-top: 10px;" ng-click="(item.Quantity > 0) ? ngCart.addItem(item) : ngCart.MissingPopup()"><i class="fa fa-plus"></i>Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-left:100px">
        <h2>Your Cart:</h2>
        <ul>
            <li class="animate-repeat" ng-repeat="item in ngCart.getItems() | orderBy:'category'">
                <span>{{ item.Quantity + ' x ' + item.Prod_Type + ' = ' + ngCart.getCost(item)  }}</span>
                <button class="btn-danger btn-xs" ng-click="ngCart.removeItemById(item.Advt_Id);">Remove Item</button>
                </br>
                </br>
            </li>
        </ul>
        <h3>Total: {{ ngCart.totalCost() | currency }}</h3>
        <a role="button" class="btn btn-primary" ng-click="ngCart.ClearCart();"> Clear Cart </a>
        <a role="button" class="btn btn-primary" ui-sref="customer.cart" ui-sref-active="active"> Go to Cart </a>

    </div>
</section>-->




<section class="featured spad">
    <div class="container">
        <div class="row main-container">
            <div class="container" style="padding-top:35px">
                <div class="form-group col-md-5" style="padding:0;padding-left:20px">
                    <input id="exampleFormControlInput5" type="text" ng-model='searchText[prod]' ng-init="prod='Prod_Type'" placeholder="What're you searching for?" class="form-control form-control-underlined">
                </div>
                <div class="form-group col-md-7">
                    <div style="float:left">
                        <h2>Your Cart:</h2>
                        <ul>
                            <li class="animate-repeat" ng-repeat="item in ngCart.getItems() | orderBy:'category'">
                                <span>{{ item.Quantity + ' x ' + item.Prod_Type + ' = ' + ngCart.getCost(item)  }}</span>
                                <button class="btn-danger btn-xs" ng-click="ngCart.removeItemById(item.Advt_Id);">Remove Item</button>
                                </br>
                                </br>
                            </li>
                        </ul>
                        <h3>Total: {{ ngCart.totalCost() | currency }}</h3>
                    </div>
                    <div style="float:right">
                        <a role="button" class="btn btn-primary" ng-click="ngCart.ClearCart();"> Clear Cart </a>
                        <a role="button" class="btn btn-primary" ui-sref="customer.cart" ui-sref-active="active"> Go to Cart </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat" ng-repeat="item in products | filter:searchText " ng-hide="vm.isLoadingCategories">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" style="background-image: url('{{item.IMG_PATH}}');">
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">{{item.Prod_Type}}</a></h6>
                        <h5>${{item.Unit_Price}}.00</h5>
                        <input type="number" ng-model="item.Quantity" class="quantity" ng-min="1">
                        <button class="btn-primary" style="margin-top: 10px;margin-bottom: 10px;" ng-click="(item.Quantity > 0) ? ngCart.addItem(item) : ngCart.MissingPopup()"><i class="fa fa-plus"></i>Add to Cart</button>
                        <h6><a href="#">By: {{item.VNDR_Name}}</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-left:100px">
        <h2>Your Cart:</h2>
        <ul>
            <li class="animate-repeat" ng-repeat="item in ngCart.getItems() | orderBy:'category'">
                <span>{{ item.Quantity + ' x ' + item.Prod_Type + ' = ' + ngCart.getCost(item)  }}</span>
                <button class="btn-danger btn-xs" ng-click="ngCart.removeItemById(item.Advt_Id);">Remove Item</button>
                </br>
                </br>
            </li>
        </ul>
        <h3>Total: {{ ngCart.totalCost() | currency }}</h3>
        <a role="button" class="btn btn-primary" ng-click="ngCart.ClearCart();"> Clear Cart </a>
        <a role="button" class="btn btn-primary" ui-sref="customer.cart" ui-sref-active="active"> Go to Cart </a>

    </div>
</section>